 .uber-btn {
   background-color: black;
   color: white;
   border: none;
   height: 40px;
   width: 120px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: opacity 0.15s;
 }

 .uber-btn:hover {
   opacity: 0.8;
 }

 .amazon-btn {
   background-color: rgb(255, 216, 20);
   font-weight: 550;
   height: 40px;
   border: none;
   border-radius: 20px;
   width: 150px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s;
 }

 .amazon-btn:hover {
   background-color: rgb(240, 200, 0);
 }

 .github-btn {
   background-color: rgb(46, 164, 79);
   color: white;
   font-weight: bold;
   font-size: 16px;
   height: 40px;
   width: 100px;
   border: none;
   border-radius: 5px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: opacity 0.15s;
 }

 .github-btn:hover {
   opacity: 0.8;
 }

 .bootstrap-getstarted-btn {
   background-color: rgb(121, 82, 179);
   color: white;
   font-weight: bold;
   font-size: 16px;
   border: none;
   border-radius: 3px;
   height: 40px;
   width: 120px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s;
 }

 .bootstrap-getstarted-btn:hover {
   background-color: rgb(105, 71, 156);
 }

 .bootstrap-download-btn {
   background-color: white;
   color: rgb(108, 117, 125);
   font-weight: bold;
   font-size: 16px;
   border-width: 1.5px;
   border-radius: 3px;
   border-color: rgb(108, 117, 125);
   height: 40px;
   width: 120px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s, color 0.15s;
 }

 .bootstrap-download-btn:hover {
   background-color: rgb(108, 117, 125);
   color: white;
 }

 .LinkedIn-apply-btn {
   background-color: rgb(10, 102, 194);
   color: white;
   font-weight: bold;
   font-size: 16px;
   border: none;
   border-radius: 20px;
   height: 40px;
   width: 250px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s;
 }

 .LinkedIn-apply-btn:hover {
   background-color: rgb(7, 77, 146);
 }

 .LinkedIn-save-btn {
   background-color: white;
   color: rgb(10, 102, 194);
   font-weight: bold;
   font-size: 16px;
   border-width: 1.5px;
   border-radius: 20px;
   border-color: rgb(10, 102, 194);
   border-style: solid;
   height: 40px;
   width: 80px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s, opacity 015s;
 }

 .LinkedIn-save-btn:hover {
   background-color: rgba(10, 102, 194, 0.15);
   border-width: 2px;
 }

 .LinkedIn-save-btn:active {
   opacity: 0.8;
 }

 .amazonlink {
   font-size: 18px;
   color: rgb(55, 137, 169);
   transition: color 0.15s;
 }

 .amazonlink:hover {
   color: rgb(205, 134, 2);
 }

 .nikeblack {
   font-size: 25px;
   font-weight: bold;
 }

 .price {
   font-weight: bold;
   color: rgb(2, 156, 2);
   font-size: 18px;
 }

 .addcart {
   background-color: rgb(255, 213, 0);
   border: none;
   border-radius: 20px;
   height: 30px;
   width: 110px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s, opacity 0.15s;
 }

 .addcart:hover {
   background-color: rgb(226, 189, 2);
 }

 .addcart:active {
   opacity: 0.8;
 }

 .buynow {
   background-color: orange;
   border: none;
   border-radius: 20px;
   height: 30px;
   width: 110px;
   margin: 2px 4px 2px 4px;
   cursor: pointer;
   transition: background-color 0.15s, opacity 0.15s;
 }

 .buynow:hover {
   background-color: rgb(255, 136, 0);
 }

 .buynow:active {
   opacity: 0.8;
 }